<ons-page id="cards">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Cards</div>
      </ons-toolbar>

   <ons-card>
       <img src="https://images.unsplash.com/photo-1645392708689-8346c8f17462?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2187&q=80" style="width: 100%"/>
       <div class="title">Cool Image</div>
       <div class="content">
           <ons-list-header>Things about the image</ons-list-header>
             <ons-list-item>House</ons-list-item>
             <ons-list-item>Light</ons-list-item>
             <ons-list-item>Dangerous</ons-list-item>
       </div>
       <br />
       <ons-button modifier="large" id="cardBtn">Tabs</ons-button>
   </ons-card>
</ons-page>